<div class="row">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">List of members</h3>
        </div>
        <div class="card-body">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div>
              <div class="row"><div class="col-sm-12">
            <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
              <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Username: activate to sort column descending">Username</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="email: activate to sort column ascending">Email</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="first name: activate to sort column ascending">First name</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="phone version: activate to sort column ascending">Phone</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="age grade: activate to sort column ascending">Age</th></tr>
              </thead>
              <tbody>
              <tr role="row" class="odd" *ngFor="let mem of members">
                <td class="sorting_1">{{mem.username}}</td>
                <td>{{mem.email}}</td>
                <td>{{mem.first_name}}</td>
                <td>{{mem.phone}}</td>
                <td>{{mem.age}}</td>
              </tr>
            </tbody>
              <tfoot>
              <tr><th rowspan="1" colspan="1">Username</th>
                <th rowspan="1" colspan="1">Email</th>
                <th rowspan="1" colspan="1">First name</th>
                <th rowspan="1" colspan="1">phone</th>
                <th rowspan="1" colspan="1">Age</th></tr>
              </tfoot>
            </table>
          </div></div>
          </div>
          </div>
    </div>
  </div>

 <div class="row">
    <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
        <tr>
            <th style="width: 20%">
                <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th style="width: 50%">
                <mfDefaultSorter by="email">Email</mfDefaultSorter>
            </th>
            <th style="width: 10%">
                <mfDefaultSorter by="age">Age</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="city">City</mfDefaultSorter>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let mem of mf.members">
            <td>{{mem.username}}</td>
            <td>{{mem.email}}</td>
            <td class="text-right">{{item.age}}</td>
            <td>{{mem.city | uppercase}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot>
    </table>

 </div>
 