<div class="row">

    <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Create a Cluster</h3>
          </div>
          <form [formGroup]="createClusterForm"  (ngSubmit)="createClusterm()">
            <div class="box-body">
              <div class="form-cluster">
                <label >Cluster name</label>
                <input type="text" id="cluster_name" class="form-control" formControlName="cluster_name" placeholder="Cluster name" [ngClass]="{ 'is-invalid': submitted && f.cluster_name.errors }">
                <div *ngIf="submitted && f.cluster_name.errors" class="invalid-feedback">
                    <div *ngIf="f.cluster_name.errors.required" class="text-danger">Cluster name  is required</div>
                </div>
              </div>
            </div>  
            <div class="box-footer">
              <button class="btn btn-primary btn-block btn-flat" [disabled]="!createClusterForm.valid">Create</button>
            </div>
          </form>
        </div>
      
      </div>
      <!-- enrolling members to cluster form -->
<div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Add members to Cluster</h3>
        </div>
        <form [formGroup]="addMembersToClusterForm"  (ngSubmit)=" addMembersToClusters()">
          <div class="box-body"> 
           <div class=form-cluster>
              <label>member</label>
               <select formControlName="member_id">
                 <option *ngFor="let mb of members" [value]="mb.member_id">
                   {{mb.first_name}}
                 </option>
               </select>
         </div>
         <div class=form-cluster>
          <label>Cluster name</label>
           <select formControlName="clusters_id" >
             <option *ngFor="let cluster of clusters" [value]="cluster.clusters_id">
               {{cluster.cluster_name}}
             </option>
           </select>
     </div>
         <div class="form-cluster">
          <label>
            <input  type="radio" [value]="0" checked formControlName="is_admin" class="flat-red"  >
            Member
          </label>
          <label>
            <input type="radio" [value]="1" formControlName="is_admin" class="flat-red">
            Admin
          </label>
        </div>
      </div>  
        
          <div class="box-footer">
            <button class="btn btn-primary btn-block btn-flat">Add</button>
          </div>
        </form>  
      </div>
 </div>

</div>

<div class="row">  
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Available clusters</h3>
        </div>
        <div class="card-body">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div>
              <div class="row"><div class="col-sm-12">
            <table id="groupstable" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
              <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Username: activate to sort column descending">Cluster names</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="email: activate to sort column ascending">Created Date</th>
              </thead>
              <tbody>
              <tr role="row" class="odd" (click)="onSelect(c)"  *ngFor="let c of clusters">
                <td > {{c.cluster_name}}</td>
                <td>{{c.created_date |  date:'medium'}}</td>
              </tr>
            </tbody>

            </table>
          </div></div>
          </div>
          </div>
    </div>
</div>

