<div class="row">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Available groups</h3>
        </div>
        <div class="card-body">
            <mat-form-field>
                <input matInput (keyup)="groupFilter($event.target.value)"  placeholder="Search a group">
              </mat-form-field>
              
              <div class="mat-elevation-z8">
                <table mat-table  [dataSource]="groups" matSort>
           
                          <ng-container matColumnDef="group_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Group name </th>
                    <td mat-cell *matCellDef="let row"> {{row.group_name}} </td>
                  </ng-container>
                  <ng-container matColumnDef="created_date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created date </th>
                    <td mat-cell *matCellDef="let row"> {{row.created_date}} </td>
                  </ng-container>
              
                                
                  <tr mat-header-row *matHeaderRowDef="displayedGroups"></tr>
                  <tr mat-row (click)="onSelect(row)" *matRowDef="let row; columns: displayedGroups;">
                  </tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
          </div>
        <!-- <div class="card-body">
            <mat-form-field>
                <input matInput (keyup)="groupFilter($event.target.value)"  placeholder="Search a group">
              </mat-form-field>
              
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="groups" matSort>
           
                          <ng-container matColumnDef="group_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Group name </th>
                    <td mat-cell *matCellDef="let row"> {{row.group_name}} </td>
                  </ng-container>
                  <ng-container matColumnDef="created_date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created date </th>
                    <td mat-cell *matCellDef="let row"> {{row.created_date}} </td>
                  </ng-container>
              
                                
                  <tr mat-header-row *matHeaderRowDef="displayedGroups"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedGroups;">
                  </tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
          </div> -->
        <!-- <div class="card-body">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div>
              <div class="row"><div class="col-sm-12">
            <table id="groupstable" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
              <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Username: activate to sort column descending">Gr name</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="email: activate to sort column ascending">Creaated Date</th>
              </thead>
              <tbody>
              <tr role="row" class="odd" (click)="onSelect(g)"  *ngFor="let g of groups">
                <td > {{g.group_name}}</td>
                <td>{{g.created_date |  date:'medium'}}</td>
              </tr>
            </tbody>

            </table>
          </div></div>
          </div>
          </div> -->
    </div>
      

</div>
<div class="row">
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Create a group</h3>
          </div>
          <form [formGroup]="createGroupForm" (ngSubmit)="createChurchG()">
            <div class="box-body">
              <div class="form-group">
                <label>Group name</label>
                <input type="text" id="group_name" class="form-control" formControlName="group_name" placeholder="Group name"
                  [ngClass]="{ 'is-invalid': submitted && f.group_name.errors }">
                <div *ngIf="submitted && f.group_name.errors" class="invalid-feedback">
                  <div *ngIf="f.group_name.errors.required" class="text-danger">Group name is required</div>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button class="btn btn-primary btn-block btn-flat" [disabled]="!createGroupForm.valid">Create</button>
            </div>
          </form>
        </div>
       
      </div>
      <!-- enrolling members to groups form -->
      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Add members to groups</h3>
          </div>
          <form [formGroup]="addToGroupForm" (ngSubmit)=" addToGroup()">
            <div class="box-body">
              <div class=form-group>
                <label>Group name</label>
                <select formControlName="churchgroups_id">
                  <option *ngFor="let gr of groupss" [value]="gr.churchgroups_id">
                    {{gr.group_name}}
                  </option>
                </select>
              </div>
              <div class=form-group>
                <label>Member name name</label>
                <select formControlName="member_id">
                  <option *ngFor="let mb of members" [value]="mb.member_id">
                    {{mb.first_name}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                  <div class="radio">
                    <label>
                      <input type="radio" name="is_admin" formControlName="is_admin" id="is_admin" value="0" checked>
                      Member
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="is_admin" formControlName="is_admin" id="is_admin" value="1">
                      Admin
                    </label>
                  </div>
                </div>
            </div>
      
            <div class="box-footer">
              <button class="btn btn-primary btn-block btn-flat">Add</button>
            </div>
          </form>
        </div>
      
      </div>
</div>


<div class="row">
    <ng-select [items]="people$ | async"
                   bindLabel="name"
                   autofocus
                   bindValue="id"
                   [(ngModel)]="selectedPersonId">
        </ng-select>
</div>
    