<mat-toolbar  class="bg-gray-active">Clusters</mat-toolbar>

       <mat-form-field>
            <input matInput (keyup)="clusterFilter($event.target.value)"  placeholder="Search a Cluster">
          </mat-form-field>
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="clusters" matSort>
       
                      <ng-container matColumnDef="cluster_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Group name </th>
                <td mat-cell *matCellDef="let row"> {{row.cluster_name}} </td>
              </ng-container>
              <ng-container matColumnDef="created_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created date </th>
                <td mat-cell *matCellDef="let row"> {{row.created_date}} </td>
              </ng-container>
          
                            
              <tr mat-header-row *matHeaderRowDef="displayedClusters"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedClusters;">
              </tr>
            </table>
            <!-- <div *ngIf="clusters.length === 0">
              No Records Found!
              </div> -->
              <mat-card *ngIf="isLoading" 
                style="display: flex; justify-content: center; align-items: center">
                <mat-progress-spinner 
                  color="primary" 
                  mode="indeterminate">
                </mat-progress-spinner>
              </mat-card>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
  