<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
     <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li>
        <a [routerLink]="['/dashboard']">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/contribution']">
          <i class="fa fa-money"></i><span>Contribution</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/members']">
          <i class="fa fa-users"></i> <span>Members</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/groups']">
          <i class="fa fa-users"></i> <span>Groups</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/clusters']">
          <i class="fa fa-users"></i><span>Clusters</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/events']">
          <i class="fa fa-calendar-o"></i> <span>Events</span>
        </a>
      </li>
   </ul>
  </section>
  <!-- /.sidebar -->
</aside>