<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
     <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li>
        <a [routerLink]="['/dashboard']">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="ion ion-ios-people-outline"></i> <span>Members</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/groups']">
          <i class="ion ion-ios-people-outline"></i> <span>Groups</span>
        </a>
      </li>
   </ul>
  </section>
  <!-- /.sidebar -->
</aside>